[submodule "forks/gbf#taskwarrior"]
	path = forks/gbf.taskwarrior
	url = git@github.com:NonLogicalDev/fork.util.taskwarrior.git
[submodule "forks/gfb#timewarrior"]
	path = "forks/gbf.timewarrior"
	url = git@github.com:NonLogicalDev/fork.util.timewarrior.git
