[submodule "forks/gbf#taskwarrior"]
	path = gbf.taskwarrior
	url = git@github.com:NonLogicalDev/fork.util.taskwarrior.git
[submodule "forks/gfb#timewarrior"]
	path = gfb.timewarrior
	url = git@github.com:NonLogicalDev/fork.util.timewarrior.git
[submodule "nld.git-ext"]
	path = nld.git-ext
	url = git@github.com:NonLogicalDev/nld.git-ext.git
[submodule "nld.cli.dotter"]
	path = nld.cli.dotter
	url = git@github.com:NonLogicalDev/nld.cli.dotter.git
